.btn-login {
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid #b7b7b7;
	border-radius: 8px;
	padding: 8px 20px;
	width: 81px;
	height: 40px;

	font-weight: 450;
	font-size: 16px;
	line-height: 150%;
	color: #454545;

	transition: background .2s ease-in, color .2s ease-in, opacity .2s ease-in;
}

.btn-login:hover {
	opacity: 0.8;
}